/* styles.css */

ul {
    font-size: 20px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orangered;
  }

ol {
    font-size: 15px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
}

img {
    width: 600px;
    height: auto;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: pink;
    text-decoration: underline;
    text-shadow:forestgreen;
}


h2 {
    font-size: 25px;
    font-weight: bold;
    stroke: cornflowerblue;
    stroke-width: 3px;
    color:magenta;

}